<%- include('templates/header.ejs') %>
    Admin Page

    <body>
        <h5>User List:</h5>
        <% let i=0 %>
            <ol>
                <% for(i=0; i < listOfUsers.length; i++) { %>
                    <li>
                        <a href="/user/<%= listOfUsers[i].user_id %>">
                            <%= listOfUsers[i].username %>
                        </a>
                    </li>
                    <% } %>
            </ol>
            </form>
            <form action='/logout' method='get'>
                <button>Sign out!</button>
            </form>
    </body>
    <%- include('templates/footer.ejs') %>