<%- include('templates/header.ejs') %>
    email address:
    <form action='/submitEmail' method='post'>
        <input name='email' type='text' placeholder='email'>
        <button>Submit</button>
    </form>
    <%- include('templates/footer.ejs') %>