<%- include('templates/header.ejs') %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">This is Emma Lee's Assignment 2 for COMP 2537.</p>
            <a href="/login" class="btn btn-success">Log in</a>
            <a href="/createuser" class="btn btn-warning">Sign up</a>
        </div>
    </div>
    <%- include('templates/footer.ejs') %>