<%- include('templates/header.ejs') %>
    <a href="/login" class="btn btn-success">Sign in</a>
    <a href="/createuser" class="btn btn-warning">Sign up</a>
    <%- include('templates/footer.ejs') %>